@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: "Quicksand", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-serif: Georgia, serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9929 0.0043 228.8061);
  --foreground: oklch(0.3138 0.0131 264.3681);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3138 0.0131 264.3681);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3138 0.0131 264.3681);
  --primary: oklch(0.7341 0.1296 177.5956);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8857 0.1093 83.7156);
  --secondary-foreground: oklch(0.3138 0.0131 264.3681);
  --muted: oklch(0.9787 0.0128 228.9242);
  --muted-foreground: oklch(0.5473 0.0127 264.4631);
  --accent: oklch(0.9019 0.0657 320.6398);
  --accent-foreground: oklch(0.3138 0.0131 264.3681);
  --destructive: oklch(0.6669 0.1771 23.1822);
  --border: oklch(0.9283 0.0341 229.2855);
  --input: oklch(0.9643 0.0192 229.0215);
  --ring: oklch(0.8429 0.1159 180.8237);
  --chart-1: oklch(0.8429 0.1159 180.8237);
  --chart-2: oklch(0.8857 0.1093 83.7156);
  --chart-3: oklch(0.9019 0.0657 320.6398);
  --chart-4: oklch(0.7925 0.0987 231.5927);
  --chart-5: oklch(0.7555 0.1168 9.4883);
  --sidebar: oklch(0.9929 0.0043 228.8061);
  --sidebar-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-primary: oklch(0.8429 0.1159 180.8237);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8857 0.1093 83.7156);
  --sidebar-accent-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-border: oklch(0.9283 0.0341 229.2855);
  --sidebar-ring: oklch(0.8429 0.1159 180.8237);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: "Quicksand", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Space Mono", monospace;
  --shadow-color: hsl(170, 60%, 70%);
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(170 60% 70% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(170 60% 70% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(170 60% 70% / 0.1),
    0px 1px 2px -1px hsl(170 60% 70% / 0.1);
  --shadow: 0px 4px 10px 0px hsl(170 60% 70% / 0.1),
    0px 1px 2px -1px hsl(170 60% 70% / 0.1);
  --shadow-md: 0px 4px 10px 0px hsl(170 60% 70% / 0.1),
    0px 2px 4px -1px hsl(170 60% 70% / 0.1);
  --shadow-lg: 0px 4px 10px 0px hsl(170 60% 70% / 0.1),
    0px 4px 6px -1px hsl(170 60% 70% / 0.1);
  --shadow-xl: 0px 4px 10px 0px hsl(170 60% 70% / 0.1),
    0px 8px 10px -1px hsl(170 60% 70% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(170 60% 70% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2612 0.0154 264.2613);
  --foreground: oklch(0.9205 0.0049 264.5343);
  --card: oklch(0.2928 0.0144 264.3243);
  --card-foreground: oklch(0.9205 0.0049 264.5343);
  --popover: oklch(0.2928 0.0144 264.3243);
  --popover-foreground: oklch(0.9205 0.0049 264.5343);
  --primary: oklch(0.7046 0.1185 178.6086);
  --primary-foreground: oklch(0.9842 0.001 264.5478);
  --secondary: oklch(0.7004 0.1412 77.4657);
  --secondary-foreground: oklch(0.9205 0.0049 264.5343);
  --muted: oklch(0.3617 0.0158 264.357);
  --muted-foreground: oklch(0.6731 0.0172 264.4523);
  --accent: oklch(0.7269 0.1517 320.76);
  --accent-foreground: oklch(0.9205 0.0049 264.5343);
  --destructive: oklch(0.5972 0.1977 25.5155);
  --border: oklch(0.4081 0.0184 264.3488);
  --input: oklch(0.3897 0.0173 264.3518);
  --ring: oklch(0.7813 0.1221 179.6397);
  --chart-1: oklch(0.7813 0.1221 179.6397);
  --chart-2: oklch(0.8242 0.1254 82.7388);
  --chart-3: oklch(0.7704 0.1263 320.7387);
  --chart-4: oklch(0.7134 0.0995 232.242);
  --chart-5: oklch(0.6739 0.1344 10.8414);
  --sidebar: oklch(0.2612 0.0154 264.2613);
  --sidebar-foreground: oklch(0.9205 0.0049 264.5343);
  --sidebar-primary: oklch(0.7813 0.1221 179.6397);
  --sidebar-primary-foreground: oklch(0.9842 0.001 264.5478);
  --sidebar-accent: oklch(0.8242 0.1254 82.7388);
  --sidebar-accent-foreground: oklch(0.9205 0.0049 264.5343);
  --sidebar-border: oklch(0.4081 0.0184 264.3488);
  --sidebar-ring: oklch(0.7813 0.1221 179.6397);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.75rem;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Space Mono", monospace;
  --shadow-color: hsl(170, 60%, 55%);
  --shadow-opacity: 0.15;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 6px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 6px 12px 0px hsl(170 60% 55% / 0.07);
  --shadow-xs: 0px 6px 12px 0px hsl(170 60% 55% / 0.07);
  --shadow-sm: 0px 6px 12px 0px hsl(170 60% 55% / 0.15),
    0px 1px 2px -1px hsl(170 60% 55% / 0.15);
  --shadow: 0px 6px 12px 0px hsl(170 60% 55% / 0.15),
    0px 1px 2px -1px hsl(170 60% 55% / 0.15);
  --shadow-md: 0px 6px 12px 0px hsl(170 60% 55% / 0.15),
    0px 2px 4px -1px hsl(170 60% 55% / 0.15);
  --shadow-lg: 0px 6px 12px 0px hsl(170 60% 55% / 0.15),
    0px 4px 6px -1px hsl(170 60% 55% / 0.15);
  --shadow-xl: 0px 6px 12px 0px hsl(170 60% 55% / 0.15),
    0px 8px 10px -1px hsl(170 60% 55% / 0.15);
  --shadow-2xl: 0px 6px 12px 0px hsl(170 60% 55% / 0.38);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
